@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@600&family=Lato&family=Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px; }

/** le quito la decoracion violeta a los links ya visitados **/
a:link {
  text-decoration: none; }

a:visited {
  color: #862016; }

/**Estilo para el header**/
.header {
  display: flex;
  background-color: #0c0c0c;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #862016;
  height: 14vh; }
  .header .logo-header {
    width: calc(10rem + 5vw);
    padding: 0 2rem; }
  .header .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .nav-header .lista-header {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center; }
      .header .nav-header .lista-header li {
        list-style-type: none;
        background-color: transparent;
        font-weight: bolder;
        font-size: calc(0.2rem + 1.5vw);
        font-family: "Lato", sans-serif;
        color: #b62e22; }
      .header .nav-header .lista-header .link {
        text-decoration: none;
        color: inherit;
        background-color: transparent;
        padding-right: calc(0.5rem + 1vw); }
        .header .nav-header .lista-header .link:hover {
          color: #e73525;
          font-size: calc(0.3rem + 1.5vw); }

/**Estilo para el main**/
.main-section {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0; }
  .main-section .titulo-rojo {
    font-family: "Grenze Gotisch", cursive;
    color: #862016;
    font-size: calc(4rem + 2vw);
    text-align: center; }
  .main-section .subtitulo-blanco {
    font-family: "Roboto", sans-serif;
    color: #fefeff;
    font-size: calc(1rem + 1vw);
    width: 50vw;
    text-align: center; }
  .main-section .background-index-desktop {
    width: 100%;
    object-fit: contain;
    padding: 0; }
  .main-section .background-index-mobile {
    display: none; }

/**Estilo para el primer section con clase "aftermath"**/
.aftermath {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #000000, #270f14, #47131b, #67181c, #862016);
  height: 100vh; }
  .aftermath .aftermath-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem 0; }
  .aftermath .titulo-rojo {
    font-family: "Grenze Gotisch", cursive;
    color: #862016;
    font-size: calc(4rem + 2vw);
    text-align: center; }
  .aftermath .texto-blanco {
    font-family: "Roboto", sans-serif;
    color: #c0c0c0;
    text-align: center;
    padding: 3rem 0;
    line-height: 30px;
    max-width: 30rem; }
  .aftermath .subtitulo-blanco {
    font-family: "Roboto", sans-serif;
    color: #fefeff;
    font-size: calc(1rem + 1vw);
    width: 50vw;
    text-align: center; }

/**Estilo del footer**/
.footer {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #dbdbdb;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-top: 2px solid #862016;
  font-family: "Roboto", sans-serif; }
  .footer .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .footer .footer-content .socialmedia {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .footer .footer-content .socialmedia .icon {
        color: #c4c4c4;
        font-size: calc(0.7rem + 1vw);
        padding: 0rem 0.5rem; }
      .footer .footer-content .socialmedia .bi-instagram:hover {
        color: yellow; }
      .footer .footer-content .socialmedia .bi-twitter:hover {
        color: #1da1f2; }
      .footer .footer-content .socialmedia .bi-youtube:hover {
        color: red; }

/**--------------------------Estilo pagina "Members"--------------------------**/
.miembros-main {
  background-color: #000000; }
  .miembros-main .miembros-cont .miembros {
    padding: 1rem 0rem; }
    .miembros-main .miembros-cont .miembros .miembro-img {
      width: 100%;
      object-fit: contain; }
    .miembros-main .miembros-cont .miembros .miembro1 {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      background-image: linear-gradient(to right, #2e0b08, #26090a, #1d0609, #120306, #000000); }
      .miembros-main .miembros-cont .miembros .miembro1 .titulo-rojo2 {
        font-family: "Grenze Gotisch", cursive;
        color: #862016;
        font-size: calc(2.5rem + 2vw); }
      .miembros-main .miembros-cont .miembros .miembro1 .subtitulo-blancoA {
        font-family: "Roboto", sans-serif;
        color: #fefeff;
        font-size: calc(0.5rem + 1vw);
        width: 35vw;
        text-align: end; }
      .miembros-main .miembros-cont .miembros .miembro1 .texto-blancoA {
        font-family: "Roboto", sans-serif;
        color: #b9b9b9;
        padding-top: 2rem;
        font-size: calc(0.6rem + 0.5vw);
        width: 40vw;
        line-height: 25px;
        text-align: end; }
  .miembros-main .miembros-cont .miembrosB .miembro-img {
    width: 100%;
    object-fit: contain; }
  .miembros-main .miembros-cont .miembrosB .miembro2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: linear-gradient(to left, #2e0b08, #26090a, #1d0609, #120306, #000000); }
    .miembros-main .miembros-cont .miembrosB .miembro2 .titulo-rojo2 {
      font-family: "Grenze Gotisch", cursive;
      color: #862016;
      font-size: calc(2.5rem + 2vw); }
    .miembros-main .miembros-cont .miembrosB .miembro2 .subtitulo-blancoB {
      font-family: "Roboto", sans-serif;
      color: #fefeff;
      font-size: calc(0.5rem + 1vw);
      width: 35vw; }
    .miembros-main .miembros-cont .miembrosB .miembro2 .texto-blancoB {
      font-family: "Roboto", sans-serif;
      color: #b9b9b9;
      padding-top: 2rem;
      font-size: calc(0.6rem + 0.5vw);
      width: 40vw;
      line-height: 25px; }

/**------------------------Estilo para la pagina "discografia"-------------------------**/
.discografia {
  background-image: radial-gradient(circle, #55140e, #431112, #2f0e12, #1d090d, #000000);
  display: flex;
  justify-content: center;
  align-items: center; }
  .discografia .album {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 0.5rem; }
    .discografia .album .titulo-album1 {
      font-family: "Grenze Gotisch", cursive;
      color: #655938;
      text-align: center;
      font-size: calc(1.5rem + 2vw);
      width: 100%;
      padding-bottom: 20px; }
    .discografia .album .titulo-album2 {
      font-family: "Grenze Gotisch", cursive;
      color: #0b656a;
      font-size: calc(1.5rem + 2vw);
      width: 100%;
      padding-bottom: 20px;
      text-align: center; }
    .discografia .album .titulo-album3 {
      font-family: "Grenze Gotisch", cursive;
      color: #4e6055;
      font-size: calc(1.5rem + 2vw);
      width: 100%;
      padding-bottom: 20px;
      text-align: center; }

/**------------------------Estilo para la pagina "galería"-------------------------**/
.galeria-desktop {
  background-image: linear-gradient(to right, #2c0a07, #260908, #200708, #1a0507, #110305, #110305, #110305, #110305, #1a0507, #200708, #260908, #2c0a07);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .galeria-desktop .titulo-rojo {
    font-family: "Grenze Gotisch", cursive;
    color: #862016;
    font-size: calc(4rem + 2vw);
    text-align: center; }
  .galeria-desktop .fotos {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    column-gap: 1rem;
    padding-top: 2rem; }
    .galeria-desktop .fotos .galeria-img img {
      width: 100%;
      object-fit: contain;
      border-radius: 10px; }
      .galeria-desktop .fotos .galeria-img img:hover {
        transform: scale(1.02); }
  .galeria-desktop .fotos-mobile {
    width: 90%;
    display: none; }

.galeria-videos {
  background-image: linear-gradient(to right, #2c0a07, #260908, #200708, #1a0507, #110305, #110305, #110305, #110305, #1a0507, #200708, #260908, #2c0a07);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .galeria-videos .titulo-rojo {
    font-family: "Grenze Gotisch", cursive;
    color: #862016;
    font-size: calc(4rem + 2vw);
    text-align: center; }
  .galeria-videos .youtube {
    padding-bottom: 2rem; }

/**---------------------------Estilo de la pagina "contacto"---------------------------**/
/**Estilo de las cajas imput**/
.contacto {
  background-image: linear-gradient(to bottom, #000000, #270f14, #47131b, #67181c, #862016);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0; }
  .contacto .formulario {
    border-radius: 10px;
    background-color: #0f0403;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #862016 0%, #000000 100%);
    padding: 1rem 1rem;
    width: 30rem; }
    .contacto .formulario .label {
      font-family: "Roboto", sans-serif;
      background: transparent;
      font-size: calc(0.3rem + 1vw);
      color: #ffafaf; }
    .contacto .formulario .type-box {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #862016;
      border-radius: 10px;
      box-sizing: border-box;
      font-family: "Roboto", sans-serif;
      font-size: calc(0.3rem + 1vw);
      background-color: #000000;
      color: #b9b9b9; }
    .contacto .formulario .formulario-botones {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;
      flex-direction: row-reverse; }
      .contacto .formulario .formulario-botones input {
        margin: 1rem 2rem; }
      .contacto .formulario .formulario-botones .boton-enviar {
        width: 10rem;
        background-color: #488b53;
        color: white;
        padding: 10px 30px;
        margin: 8px 0;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        font-size: calc(0.4rem + 1vw); }
        .contacto .formulario .formulario-botones .boton-enviar:hover {
          background-color: #45a049; }
      .contacto .formulario .formulario-botones .boton-reset {
        width: 10rem;
        background-color: #c46d6d;
        color: white;
        padding: 10px 30px;
        margin: 8px 0;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        font-size: calc(0.4rem + 1vw); }
        .contacto .formulario .formulario-botones .boton-reset:hover {
          background-color: #c05d5d; }

/* //////////////////////////////////////ESTILO PARA MOBILE/////////////////////////////// */
@media only screen and (max-width: 576px) {
  /**Estilo para el header**/
  .header {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #862016;
    padding: 0.5rem 0rem; }
    .header .logo-header {
      max-width: 30vw;
      padding-top: 0.5rem; }
    .header .nav-header .lista-header {
      flex-direction: column;
      padding: 0; }
      .header .nav-header .lista-header li {
        color: #862016;
        font-size: 4vw;
        padding: 0.1rem 0rem; }
        .header .nav-header .lista-header li .link {
          padding: 0; }
  .main-section {
    padding: 0rem; }
    .main-section .titulo-rojo {
      font-size: 12vw; }
    .main-section .subtitulo-blanco {
      font-size: 4vw; }
    .main-section .background-index-desktop {
      display: none; }
    .main-section .background-index-mobile {
      display: flex;
      justify-content: center;
      width: 100%;
      object-fit: contain;
      padding: 0rem; }
  /**Estilo para el primer section con clase "aftermath"**/
  .aftermath {
    padding: 4rem 0rem 4rem 0rem;
    height: 100vh; }
    .aftermath .aftermath-div {
      padding: 0; }
      .aftermath .aftermath-div .texto-blanco {
        width: 80vw;
        padding: 4rem 0; }
  .footer {
    padding: 1rem 1rem;
    border-top: 1px solid #862016; }
  /** Estilo miembros**/
  .miembros-main .miembros-cont .miembros .miembro1 {
    padding: 0;
    align-items: center;
    background-image: linear-gradient(to top, #2e0b08, #26090a, #1d0609, #120306, #000000); }
    .miembros-main .miembros-cont .miembros .miembro1 .subtitulo-blancoA {
      font-family: "Roboto", sans-serif;
      color: #fefeff;
      font-size: calc(0.5rem + 1vw);
      width: 70vw;
      text-align: center; }
    .miembros-main .miembros-cont .miembros .miembro1 .texto-blancoA {
      font-size: calc(0.6rem + 0.5vw);
      width: 70vw;
      text-align: center; }
  .miembros-main .miembros-cont .miembrosB {
    flex-direction: column-reverse;
    border-top: 2px solid #26090a; }
    .miembros-main .miembros-cont .miembrosB .miembro2 {
      padding: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: linear-gradient(to top, #2e0b08, #26090a, #1d0609, #120306, #000000); }
      .miembros-main .miembros-cont .miembrosB .miembro2 .subtitulo-blancoB {
        font-family: "Roboto", sans-serif;
        color: #fefeff;
        font-size: calc(0.5rem + 1vw);
        width: 70vw;
        text-align: center; }
      .miembros-main .miembros-cont .miembrosB .miembro2 .texto-blancoB {
        font-size: calc(0.6rem + 0.5vw);
        width: 70vw;
        text-align: center; }
  /**------------------------Estilo para la pagina "discografia"-------------------------**/
  .discografia {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto); }
    .discografia .album {
      padding: 1rem 4rem; }
      .discografia .album .titulo-album1 {
        font-size: 8vw; }
      .discografia .album .titulo-album2 {
        font-size: 8vw; }
      .discografia .album .titulo-album3 {
        font-size: 8vw; }
  /**------------------------Estilo para la pagina "galería"-------------------------**/
  .galeria-desktop .fotos {
    display: none; }
  .galeria-desktop .fotos-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0; }
  .galeria-videos {
    padding: 0 0; }
  /**---------------------------Estilo de la pagina "contacto"---------------------------**/
  .contacto .formulario {
    border-radius: 10px;
    width: 80vw; }
    .contacto .formulario .label {
      font-size: 6vw; }
    .contacto .formulario .type-box {
      width: 100%;
      padding: 2vw 2vw;
      margin: 0 0;
      margin: 1vw 0;
      border-radius: 10px;
      font-size: 3vw;
      background-color: #000000; }
    .contacto .formulario .formulario-botones .boton-enviar {
      font-size: 3vw; }
      .contacto .formulario .formulario-botones .boton-enviar:hover {
        background-color: #45a049; }
    .contacto .formulario .formulario-botones .boton-reset {
      font-size: 3vw; }
      .contacto .formulario .formulario-botones .boton-reset:hover {
        background-color: #c05d5d; } }
