@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@600&family=Lato&family=Roboto&display=swap");
$pentakillred: #862016;
* {
  margin: 0px;
  padding: 0px;
}

@mixin titulo-rojo {
  font-family: "Grenze Gotisch", cursive;
  color: $pentakillred;
  font-size: calc(4rem + 2vw);
  text-align: center;
}

@mixin texto-blanco {
  font-family: "Roboto", sans-serif;
  color: #c0c0c0;
  text-align: center;
  padding: 3rem 0;
  line-height: 30px;
  max-width: 40%;
  font-size: calc(1rem + 0.3vw);
}

@mixin subtitulo-blanco {
  font-family: "Roboto", sans-serif;
  color: #fefeff;
  font-size: calc(1rem + 1vw);
  width: 50vw;
  text-align: center;
}

@mixin titulo-rojo2 {
  font-family: "Grenze Gotisch", cursive;
  color: $pentakillred;
  font-size: calc(2.5rem + 2vw);
}

@mixin subtitulo-blancoA {
  font-family: "Roboto", sans-serif;
  color: #fefeff;
  font-size: calc(0.5rem + 1vw);
  width: 35vw;
  text-align: end;
}

@mixin subtitulo-blancoB {
  font-family: "Roboto", sans-serif;
  color: #fefeff;
  font-size: calc(0.5rem + 1vw);
  width: 35vw;
}

@mixin texto-blancoA {
  font-family: "Roboto", sans-serif;
  color: #b9b9b9;
  padding-top: 2rem;
  font-size: calc(0.6rem + 0.5vw);
  width: 40vw;
  line-height: 25px;
  text-align: end;
}

@mixin texto-blancoB {
  font-family: "Roboto", sans-serif;
  color: #b9b9b9;
  padding-top: 2rem;
  font-size: calc(0.6rem + 0.5vw);
  width: 40vw;
  line-height: 25px;
}

/** le quito la decoracion violeta a los links ya visitados **/

a {
  &:link {
    text-decoration: none;
  }
  &:visited {
    color: #862016;
  }
}

/**Estilo para el header**/
.header {
  .navbar {
    background-color: #080808;
    border-bottom: 2px solid $pentakillred;

    .navbar-div {
      .logo-header {
        width: calc(10rem + 5vw);
        padding: 0 2rem;
      }

      .navlist-div {
        .lista-header {
          li {
            display: flex;
            justify-content: flex-end;
            font-weight: bolder;
            font-size: calc(0.1rem + 1.5vw);
            font-family: "Lato", sans-serif;
            padding-right: calc(0.5rem + 1vw);
            a {
              color: #b62e22;
              &:hover {
                color: #ff3624;
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }
  }
}

/**Estilo para el main**/

.main-section {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;

  .titulo-rojo {
    @include titulo-rojo();
  }

  .subtitulo-blanco {
    @include subtitulo-blanco();
  }

  .background-index-desktop {
    width: 100%;
    object-fit: contain;
    padding: 0;
  }

  .background-index-mobile {
    display: none;
  }
}

/**Estilo para el primer section con clase "aftermath"**/

.aftermath {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    #000000,
    #270f14,
    #47131b,
    #67181c
  );
  height: 100vh;

  .aftermath-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem 0;
  }

  .titulo-rojo {
    @include titulo-rojo();
  }

  .texto-blanco {
    @include texto-blanco();
  }

  .subtitulo-blanco {
    @include subtitulo-blanco();
  }
}

/**Estilo del footer**/

.footer {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #dbdbdb;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-top: 2px solid $pentakillred;
  font-family: "Roboto", sans-serif;
  height: 7rem;
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .socialmedia {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .icon {
        color: rgb(196, 196, 196);
        font-size: calc(0.7rem + 1vw);
        padding: 0rem 1rem;
      }

      .bi-instagram {
        &:hover {
          color: yellow;
        }
      }
      .bi-twitter {
        &:hover {
          color: #1da1f2;
        }
      }
      .bi-youtube {
        &:hover {
          color: red;
        }
      }
    }
  }
}

/**--------------------------Estilo pagina "Members"--------------------------**/
.html {
  overflow-x: hidden;
  .html-body {
    overflow-x: hidden;
  }
}
.miembros-main {
  background-color: #000000;

  .miembros-cont {
    .miembros {
      padding: 1rem 0rem;
      .m-img {
        .miembro-img {
          width: 100%;
          object-fit: contain;
        }
      }

      .miembro1 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        background-image: linear-gradient(
          to right,
          #2e0b08,
          #26090a,
          #1d0609,
          #120306,
          #000000
        );
        .titulo-rojo2 {
          @include titulo-rojo2();
        }
        .subtitulo-blancoA {
          @include subtitulo-blancoA();
        }
        .texto-blancoA {
          @include texto-blancoA();
        }
      }
    }

    .miembrosB {
      .miembro-img {
        width: 100%;
        object-fit: contain;
      }

      .miembro2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-image: linear-gradient(
          to left,
          #2e0b08,
          #26090a,
          #1d0609,
          #120306,
          #000000
        );

        .titulo-rojo2 {
          @include titulo-rojo2();
        }

        .subtitulo-blancoB {
          @include subtitulo-blancoB;
        }

        .texto-blancoB {
          @include texto-blancoB();
        }
      }
    }
  }
}

/**------------------------Estilo para la pagina "discografia"-------------------------**/

.discografia {
  background-image: radial-gradient(
    circle,
    #55140e,
    #431112,
    #2f0e12,
    #1d090d,
    #000000
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  .album {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em 2rem;

    .titulo-album1 {
      font-family: "Grenze Gotisch", cursive;
      color: #655938;
      text-align: center;
      font-size: calc(1.5rem + 2vw);
      width: 100%;
      padding-bottom: 20px;
    }

    .titulo-album2 {
      font-family: "Grenze Gotisch", cursive;
      color: #0b656a;
      font-size: calc(1.5rem + 2vw);
      width: 100%;
      padding-bottom: 20px;
      text-align: center;
    }

    .titulo-album3 {
      font-family: "Grenze Gotisch", cursive;
      color: #4e6055;
      font-size: calc(1.5rem + 2vw);
      width: 100%;
      padding-bottom: 20px;
      text-align: center;
    }
  }
}

/**------------------------Estilo para la pagina "galería"-------------------------**/

.galeria-desktop {
  background-image: linear-gradient(
    to right,
    #2c0a07,
    #260908,
    #200708,
    #1a0507,
    #110305,
    #110305,
    #110305,
    #110305,
    #1a0507,
    #200708,
    #260908,
    #2c0a07
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .titulo-rojo {
    @include titulo-rojo();
  }

  .fotos {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    column-gap: 1rem;
    padding-top: 2rem;

    .galeria-img {
      img {
        width: 100%;
        object-fit: contain;
        border-radius: 10px;
        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }

  .fotos-mobile {
    width: 90%;
    display: none;
  }
}

.galeria-videos {
  background-image: linear-gradient(
    to right,
    #2c0a07,
    #260908,
    #200708,
    #1a0507,
    #110305,
    #110305,
    #110305,
    #110305,
    #1a0507,
    #200708,
    #260908,
    #2c0a07
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .titulo-rojo {
    @include titulo-rojo();
  }

  .youtube {
    padding-bottom: 2rem;
  }
}

/**---------------------------Estilo de la pagina "contacto"---------------------------**/

/**Estilo de las cajas imput**/

.contacto {
  background-image: linear-gradient(
    to bottom,
    #000000,
    #270f14,
    #47131b,
    #67181c,
    #862016
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  height: 90vh;

  .formulario {
    border-radius: 10px;
    background-color: #0f0403;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #862016 0%, #000000 100%);
    padding: 1rem 1rem;
    width: 50%;

    .nombre-apellido {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      .nombre {
        display: flex;
        flex-direction: column;
        justify-content: right;
        width: 100%;
      }
      .apellido {
        display: flex;
        flex-direction: column;
        justify-content: right;
        width: 100%;
      }
    }

    .label {
      font-family: "Roboto", sans-serif;
      background: transparent;
      font-size: calc(0.3rem + 1vw);
      color: rgb(255, 175, 175);
    }

    .type-box {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid $pentakillred;
      border-radius: 10px;
      box-sizing: border-box;
      font-family: "Roboto", sans-serif;
      font-size: calc(0.3rem + 1vw);
      background-color: #000000;
      color: #b9b9b9;
    }

    .formulario-botones {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      flex-direction: row-reverse;

      input {
        margin: 1rem 2rem;
      }

      .boton-enviar {
        width: 10rem;
        background-color: #488b53;
        color: white;
        padding: 10px 30px;
        margin: 8px 16px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        font-size: calc(0.4rem + 1vw);

        &:hover {
          background-color: #45a049;
        }
      }

      .boton-reset {
        width: 10rem;
        background-color: #c46d6d;
        color: white;
        padding: 10px 30px;
        margin: 8px 16px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        font-size: calc(0.4rem + 1vw);

        &:hover {
          background-color: #c05d5d;
        }
      }
    }
  }
}

/* //////////////////////////////////////ESTILO PARA MOBILE/////////////////////////////// */
@media only screen and (max-width: 992px) {
  .discografia {
    height: 100%;
    .album {
      width: 70%;
      .titulo-album1 {
        font-size: calc(3rem + 2vw);
      }
      .titulo-album2 {
        font-size: calc(3rem + 2vw);
      }
      .titulo-album3 {
        font-size: calc(3rem + 2vw);
      }
    }
  }
}
@media only screen and (max-width: 576px) {
  /**Estilo para el header**/

  .header {
    .navbar {
      .navbar-div {
        .logo-header {
          width: calc(10rem + 5vw);
          padding: 0 2rem;
        }

        button {
          color: transparent;
          span {
            color: #4d4d4d;
          }
        }

        .navlist-div {
          .lista-header {
            li {
              display: flex;
              justify-content: flex-end;
              font-weight: bolder;
              font-size: calc(0.7rem + 1.5vw);
              font-family: "Lato", sans-serif;
              padding-right: 0;
              padding: 0.2rem 0rem;
            }
          }
        }
      }
    }
  }

  .main-section {
    height: 100vh;
    padding: 0rem;

    .titulo-rojo {
      font-size: calc(5rem + 2vw);
    }
    .subtitulo-blanco {
      font-size: 4vw;
    }

    .background-index-desktop {
      display: none;
    }

    .background-index-mobile {
      display: flex;
      justify-content: center;
      width: 100%;
      object-fit: contain;
      padding: 0rem;
      padding-top: 5rem;
    }
  }

  /**Estilo para el primer section con clase "aftermath"**/
  .aftermath {
    padding: 4rem 0rem 4rem 0rem;
    height: 100vh;

    .aftermath-div {
      padding: 0;

      .texto-blanco {
        width: 80vw;
        padding: 2rem 0;
      }
    }
  }

  .footer {
    padding: 1rem 1rem;
    border-top: 1px solid #862016;
    height: 8rem;
    .footer-content {
      .socialmedia {
        .icon {
          padding: 0rem 0.3rem;
        }
      }
    }
  }

  /** Estilo miembros**/

  .miembros-main {
    .miembros-cont {
      .miembros {
        .miembro1 {
          padding: 0;
          align-items: center;
          background-image: linear-gradient(
            to top,
            #2e0b08,
            #26090a,
            #1d0609,
            #120306,
            #000000
          );

          .subtitulo-blancoA {
            font-family: "Roboto", sans-serif;
            color: #fefeff;
            font-size: calc(0.5rem + 1vw);
            width: 70vw;
            text-align: center;
          }

          .texto-blancoA {
            font-size: calc(0.6rem + 0.5vw);
            width: 70vw;
            text-align: center;
          }
        }
      }
      .miembrosB {
        flex-direction: column-reverse;
        border-top: 2px solid #26090a;

        .miembro2 {
          padding: 0;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-image: linear-gradient(
            to top,
            #2e0b08,
            #26090a,
            #1d0609,
            #120306,
            #000000
          );

          .subtitulo-blancoB {
            font-family: "Roboto", sans-serif;
            color: #fefeff;
            font-size: calc(0.5rem + 1vw);
            width: 70vw;
            text-align: center;
          }

          .texto-blancoB {
            font-size: calc(0.6rem + 0.5vw);
            width: 70vw;
            text-align: center;
          }
        }
      }
    }
  }

  /**------------------------Estilo para la pagina "discografia"-------------------------**/

  .discografia {
    height: 100%;
    .album {
      padding: 1rem 1rem;
      width: 100%;

      .titulo-album1 {
        font-size: 8vw;
      }

      .titulo-album2 {
        font-size: 8vw;
      }

      .titulo-album3 {
        font-size: 8vw;
      }
    }
  }

  /**------------------------Estilo para la pagina "galería"-------------------------**/
  .galeria-desktop {
    .fotos {
      display: none;
    }

    .fotos-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem 0;
    }
  }

  .galeria-videos {
    padding: 0 0;
  }

  /**---------------------------Estilo de la pagina "contacto"---------------------------**/

  .contacto {
    .formulario {
      border-radius: 10px;
      width: 80vw;

      .label {
        font-size: 6vw;
      }

      .type-box {
        width: 100%;
        padding: 2vw 2vw;
        margin: 0 0;
        margin: 1vw 0;
        border-radius: 10px;
        font-size: 3vw;
        background-color: #000000;
      }

      .formulario-botones {
        .boton-enviar {
          font-size: 3vw;

          &:hover {
            background-color: #45a049;
          }
        }

        .boton-reset {
          font-size: 3vw;

          &:hover {
            background-color: #c05d5d;
          }
        }
      }
    }
  }
}
